In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("cv-valid-train.csv")
df.head()

,filename,text,up_votes,down_votes,age,gender,accent,duration
0,cv-valid-train/sample-000000.mp3,learn to recognize omens and follow them the o...,1,0,NaN,NaN,NaN,NaN
1,cv-valid-train/sample-000001.mp3,everything in the universe evolved he said,1,0,NaN,NaN,NaN,NaN
2,cv-valid-train/sample-000002.mp3,you came so that you could learn about your dr...,1,0,NaN,NaN,NaN,NaN
3,cv-valid-train/sample-000003.mp3,so now i fear nothing because it was those ome...,1,0,NaN,NaN,NaN,NaN
4,cv-valid-train/sample-000004.mp3,if you start your emails with greetings let me...,3,2,NaN,NaN,NaN,NaN

In [10]:
cleaned = df[["filename", "age", "gender"]]
cleaned.dropna(subset=["age"], ignore_index=True, inplace=True)
cleaned["label"] = np.where(cleaned["age"] == "teens", "child", "adult")
cleaned.drop(columns=["age", "gender"], inplace=True)
cleaned.head()

C:\Users\lenovo\AppData\Local\Temp\ipykernel_11828\1881592146.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned.dropna(subset=["age"], ignore_index=True, inplace=True)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_11828\1881592146.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned["label"] = np.where(cleaned["age"] == "teens", "child", "adult")
C:\Users\lenovo\AppData\Local\Temp\ipykernel_11828\1881592146.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned.drop(columns=["age", "gender"], inplace=True)

                           filename  label
0  cv-valid-train/sample-000005.mp3  adult
1  cv-valid-train/sample-000008.mp3  adult
2  cv-valid-train/sample-000013.mp3  adult
3  cv-valid-train/sample-000014.mp3  adult
4  cv-valid-train/sample-000019.mp3  adult

In [11]:
cleaned.to_csv("labeled-files.csv")